/*-=-=-=-=-=-=-=-=-=-=-=-=-=-Importando Fontes-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-Default Settings-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

html, body{
    background: var(--background-color);
    scroll-behavior: smooth; /*transição suave entre links internos*/
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: yellow;
    --secondary-color: gold;
    --text-color: silver;
    --secondary-text-color: rgb(226, 194, 10);
    --background-color: #121111;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-Navbar-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#btn-mobile{
    display: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px; /* superior | direita | inferior | esquerda */
}

/*botão*/

.btn-nav{
    cursor: pointer;
    border: none;
    border-radius: 50px;
    padding: 10px 50px;
    background-color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 19px;
    transition: all .3s ease 0s;
}

.btn-nav:hover{
    background-color: #1C1C1C;
    color: white;
}

/*itens da navbar*/

header #download{
    display: none;
}

#nav-menu{
    list-style: none;
    display: flex;
    gap: 4rem;
}

#nav-menu a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: all .3s ease 0s;
}

#nav-menu a:hover{
    color: var(--main-color);
}

#nav-menu a::after{
    content: '';
    display: block;
    height: 2px;
    background: white;
    margin-top: 5px;
}

/*Responsividade*/

@media (max-width: 945px){

    .btn-nav{
        display: none;
    }

    header #download{
        display: block;
    }

    #nav-menu {
        gap: 3rem;
    }

    #nav-menu a{
        font-size: 22px;
    }
}

/*Versão Mobile*/

@media (max-width: 760px){

    #nav-menu{
        display: none;
        position: absolute;
        width: 100%;
        height: 150vh;
        top: 0;
        left: 0;
        background: black;
        z-index: 3;
        padding: 9rem 24px;
    }

    #navbar.active #nav-menu{
        display: block;
        overflow-y: auto;
    }

    #nav-menu li{
        padding: 2rem 0px;
    }

    #nav-menu li a{
        font-size: 24px;
    }

    #navbar.active #nav-menu a::after{
        background: #ffffff42;
    }

    /*ícone do menu*/

    #btn-mobile{
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 5rem;
        right: 40px;
        position: absolute;
        top: 4.1rem;
    }

    #btn-icon{
        color: white;
        width: 25px;
        border-top: 2px solid;
    }

    #btn-icon::after, #btn-icon::before{
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #navbar.active #btn-icon{
        z-index: 4; /*sobrepor a outros elementos*/ 
        border-top-color: transparent;
    }

    #navbar.active #btn-icon::before{
        transform: rotate(135deg);
    }
    
    #navbar.active #btn-icon::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    /*Rolamento da tela*/

   #body.travar{
        overflow-y: hidden;
    }
}

/*Versão mobile na horizontal*/

@media (max-height: 480px){

    #body.travar{
        overflow-y: auto;
    }

    #btn-mobile{
        display: none;
    }

    #nav-menu{
        display: flex;
        background: transparent;
        padding: 2rem 0px 0px 13rem;
        height: auto;
    }

    #nav-menu li a{
        font-size: 16px;
    }

    #nav-menu li{
        height: fit-content;
    }

    .btn-nav{
        display: none;
    }
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-Apresentação do App-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.app-cont{
    display: flex;
    padding-left: 50px;
    margin-top: 28px;
}

.app-text{
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
    width: 44rem;
}

.app-text strong{
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
}

.app-cont p{
    padding: 25px 0 0 0;
    font-size: 22px;
    line-height: 34px;
}

.app-cont p span{
    color: var(--secondary-text-color);
}

.app-cont .img-cont{
   text-align: center;
   width: 500px;
   padding-left: 40px;
}

.app-cont img{
    width: 21rem;
    margin: 60px 0px 0px 0px;
}

.app-cont .first{
    font-size: 38px;
    line-height: 42px;
    font-weight: bolder;
}

.app-cont .first #first-strong{
    font-size: unset;
}

@media screen and (max-width: 980px){

    .app-cont{
        flex-direction: column;
        padding: 0 30px;
    }

    .app-text{
        width: 100%;
    }

    .app-text .others{
        font-size: 27px;
        padding-top: 35px;
        line-height: 40px;
    }

    .app-cont .first {
        font-size: 40px;
    }

    .app-text .first {
        line-height: 50px;
    }

    .app-text strong {
        font-size: 26px;
    }

    /*itens da navbar*/

    #nav.active ul li a{
        font-size: 35px;
    }

    #nav.active ul li a::after{
        width: 7rem;
    }

    #nav.active ul{
        padding-top: 10rem;
    }

    /*imagem*/

    .app-cont .img-cont{
        width: 100%;
        padding-left: unset;
    }

    .app-cont img{
        width: 21rem;
        margin: 30px 0px;
    }

}

/*modo mobile*/

@media screen and (max-width: 800px){

    /*navbar*/

    #nav.active ul li a{
        font-size: 25px;
    }

    #nav.active ul li a::after{
        width: 75px;
    }

    #nav.active ul{
        padding-top: 5rem;
    }

    /*apresentação do app*/

    .app-cont .first {
        font-size: 30px;
    }

    .app-text .others{
        font-size: 23px;
    }

    .app-text strong {
        font-size: 22px;
    }

    .app-cont img{
        margin-left: -18px;
    }
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-About-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.about{
    margin-top: 5rem;
    text-align: center;
}

.about h1{
    color: white;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
    font-size: 34px;
    padding: 0px 6rem;
    line-height: 40px;
}

.about h1 span{
    color: var(--main-color);
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 50px;
}

.about .about-p{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    padding: 40px 10rem;
    font-size: 20px;
    font-weight: 700;
}

.about .about-p::before{
    content: '-';
    color: var(--secondary-text-color);
    margin-right: 10px;
    font-weight: bold;
}

/*Responsividade*/

@media (max-width: 980px){

    .about h1{
        padding: 0px 2rem;
    }

    .about p{
        padding: 40px 5rem;
        font-size: 25px;
        line-height: 42px;
    }

    .about .about-p{
        font-size: 25px;
        padding: 40px 6rem;
    }

}

/*tablet na horizontal*/

@media (max-width: 1024px){
    .about .about-p{
        font-size: 25px;
    }
}

@media screen and (max-width: 680px){

    .about h1{
        font-size: 26px;
        padding: 0px 20px;
    }

    .about{
        margin-top: 3rem;
    }

    .about .about-p{
        padding: 40px 20px;
        font-size: 20px;
    }

    .about h1 span{
        font-size: 40px;
    }
  
}

/*Animação dos elemento*/

[data-animacao] {
    opacity: 0;
    transition: .4s;
}

[data-animacao="left"] {
    transform: translate3d(-50px, 0, 0); /*Eixos -->|  X  |  Y  |  Z  |*/
}

[data-animacao].show {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/*Cards do About*/

.about-card{
    padding-top: 30px;
}

.about-card .card-list{
    display: inline-flex;
    list-style: none;
    gap: 6rem;
}

.about-card li{
    position: relative;
    background-color: #1b1a1a70; 
    padding: 20px 6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.about-card li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Palanquin', sans-serif;
    transition: .3s;
}

.about-card li a i{
    font-size: 25px;
    position: absolute;
    left: 35px;
}

.about-card li a span{
    position: absolute;
    border: 3px solid var(--background-color);
    border-radius: 50px;
    top: -20px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
}

/*quando for selecionado*/

.about-card ul li.selected{
    background-color: var(--secondary-text-color);
    transition: .3s;
}

.about-card ul li.selected a{
    color: black;
    transition: .3s;
}

/*responsividade dos cards*/

/*Tablets*/

@media (max-width: 1100px){

    .about-card{
        padding-top: unset;
    }

    .about-card .card-list{
        display: block;
    }

    .about-card li{
        margin: 50px 30px;
    }

    .about-card li a{
        font-size: 30px;
    }

    .about-card li a i{
        font-size: 30px;
        left: 6rem;
    }

    .about-card li a span{
        right: 4rem;
        width: 60px;
        height: 60px;
        line-height: 45px;
        top: -30px;
    }
}

/*Versão mobile na horizontal*/

@media (max-height: 480px){

    .about-card li a{
        font-size: 25px;
    }

    .about-card li a span{
        width: 50px;
        height: 50px;
        line-height: 40px;
    }
}

/*Celulares na vertical*/

@media screen and (max-width: 680px){

    .about-card li{
        margin: 50px 30px;
    }

    .about-card li a i{
        left: 30px;
    }

    .about-card li a {
        font-size: 25px;
    }

    .about-card li a span{
        right: 20px;
        width: 50px;
        height: 50px;
        line-height: 40px;
        top: -20px;
    }
}

/*textos dos cards*/

.card-texts-cont{
    padding: 50px 60px;
}

.card-text{
    display: flex;
}

/*imagens*/

.card-img img{
    width: 28rem;
    margin-left: 5rem;
}

/*segunda imagem*/

.card-img #img-card2{
    width: 19rem;
    margin-left: 7rem;
    padding-top: 1rem;
}

/*terceira imagem*/

.card-img #img-card3{
    width: 24rem;
    padding-top: 4rem;
    margin-left: 5rem;
}

/*textos*/

.card-text-left{
    height: fit-content;
    width: 40rem;
}

.card-text-left h3{
    font-family: 'Quicksand', sans-serif;
    color: var(--secondary-text-color);
    font-size: 30px;
    padding-top: 20px;
}

.card-text-left p{
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    line-height: 30px;
    font-size: 18px;
    padding-top: 40px;
}

/*Animação dos Cards*/

.card-text{
    display: none;
    margin-bottom: 2rem;
}

.card-text.mostrar{
    display: flex;
}

/*Responsividade*/

/*tablet*/

@media (max-width: 980px){

    .card-text.mostrar {
        display: block;
    }

    .card-text-left h3{
        font-size: 40px;
    }

    .card-text-left p{
        font-size: 25px;
    }

    .card-img #img-card2{
        margin-left: unset;
    }

    .card-img #img-card3{
        margin-left: unset;
    }

    .card-img{
        text-align: center;
    }

}

/*tablet na horizontal*/

@media (max-width: 1024px){

    .card-texts-cont {
        padding: 40px;
    }

    .card-text.mostrar {
        flex-direction: column;
    }

    .card-text-left{
        width: 100%;
    }

    .card-img{
        text-align: center;
    }

    .card-text-left h3{
        font-size: 40px;
    }

    .card-text-left p{
        font-size: 25px;
    }

    .card-img #img-card2{
        margin-left: unset;
    }

    .card-img #img-card3{
        margin-left: unset;
    }

}

/*Celulares*/

@media screen and (max-width: 680px){

    .card-img img{
        margin-left: unset;
        width: 18rem;
    }

    .card-img #img-card2{
        margin-left: unset;
    }

    .card-img #img-card3{
        width: 20rem;
    }

    .card-text-left h3{
        font-size: 30px;
    }

    .card-text-left p{
        font-size: 20px;
    }

    .card-texts-cont{
        padding: 20px;
    }
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-Download-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

section.download{
    text-align: center;
    padding: 5rem 0rem;
    /*imagem de fundo*/
    background-image: url(../img/download-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0px 11px 22px -8px rgba(0,0,0,0.75);
}

.download-texts{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.5px;
}

.download-texts h1{
    padding-top: 20px;
    font-size: 42px;
    color: white;
}

.download-texts h1 span{
    color: var(--secondary-text-color);
}

.download-texts h3{
    font-size: 30px;
    color: var(--main-color);
    font-weight: bolder;
}

/*botões*/

.btn-cont{
    margin-top: 3rem;
}

.btn-cont button{
    background-color: transparent;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid #FBB31B;
    margin: 0rem 2rem;
    align-items: center;
}

.btn-cont button a{
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: #FBB31B;
    font-size: 18px;
    font-family: 'Montserrat', serif;
    font-weight: bolder;
    align-items: center;
}

.btn-cont button a i{
    font-size: 25px;
    padding-right: 10px;
}

/*animação*/

[data-animacao="top"] {
    transform: translate3d(0, -50px, 0); /*Eixos -->|  X  |  Y  |  Z  |*/
}

/*Responsividade*/

/*tablets*/

@media (max-width: 980px){

    .download-texts h3{
        font-size: 36px;
    }

    .btn-cont button a{
        font-size: 24px;
    }

    .btn-cont button a i{
        font-size: 32px;
    }

    #btn-ios{
        margin-top: 3rem;
    }

    #btn-android{
        margin-top: 2rem;
    }
}

/*tablets na horizontal*/

@media (min-width: 1024px){

    .btn-cont button a{
        font-size: 20px;
    }

    .btn-cont button{
        margin-top: 1rem;
    }
}

/*Celulares*/

@media screen and (max-width: 680px){

    .download-texts h3 {
        font-size: 28px;
    }

    .download-texts h1 {
        padding: 2rem 10px;
        font-size: 28px;
        line-height: 42px;
    }

    .btn-cont{
        margin-top: unset;
    }

    .btn-cont button a {
        font-size: 16px;
    }

    .btn-cont button a i {
        font-size: 25px;
    }

    #android-p{
        font-size: 15px;
    }
}


/*-=-=-=-=-=-=-=-=-=-=-=-=-=-Contact Us-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

section.contact{
    margin-top: 5rem;
    text-align: center;
    padding-bottom: 5rem;
}

/*texto*/

.contact-text h1{
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 2.5px;
}

.contact-text h1::after{
    content: '';
    height: 3px;
    width: 8.5rem;
    display: block;
    background: var(--secondary-color);
    margin: 1rem auto; /*alinhar ao Centro*/
}

/*Cards*/

.contact-cards{
    display: flex;
    justify-content: space-evenly; /*espaçamento igual entre os items*/
    margin-top: 5rem;
}

.perfil{
    position: relative;
    width: 350px;
	height: 450px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.contact-img, .contact-img img{
    width: 100%;
}

.contact-img{
    position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    z-index: 2;
    transition: all 0.5s;
}

.perfil:hover .contact-img img{
    opacity: 0.4;
    transition: all 0.5s;
}

.perfil:hover .contact-img {
    transform: translateY(-100px);
    transition: all 0.5s;
}

/*textos dos Cards*/

.contact-social{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.contact-social li{
    list-style: none;
}

.contact-social li a{
    position: relative;
    display: block;
    width: 52px;
    height: 52px;
    font-size: 26px;
    color: black;
    background: white;
    margin: 0 6px;
    border-radius: 50px;
    transition: all .4s;
    line-height: 54px;
    transform: translateY(200px);
    opacity: 0;
}

.contact-social li a i{
    font-weight: bold;
}

.perfil:hover .contact-social li a{
    transform: translateY(0px);
    opacity: 1;
}

.contact-social li a:hover{
    background: black;
    color: white;
    transition: all .2s !important;
}

/*detalhes*/

.contact-detalhes{
    position: absolute;
    bottom: -100px;
    left: 0;
    opacity: 0;
    background: var(--secondary-color);
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: calc(200px - 100px);
    z-index: 8;
    padding: 10px;
    transition: all 0.5s;
}
  
.perfil:hover .contact-detalhes{
    bottom: 0;
    left: 0;
    opacity: 1;
}

.contact-detalhes h1{
    margin: 12px 0;
	padding: 0;
	text-align: center;
}

.contact-detalhes h1 .job{
    font-size: 18px;
	line-height: 2.5rem;
	color: #363636;
	font-weight: bold;
}

/*Responsividade*/

/*tablets*/

@media screen and (max-width: 1120px){

    .contact-cards{
        flex-direction: column;
        align-items: center;
    }

    .perfil{
        margin-bottom: 4rem;
        width: 450px;
        height: 550px;
    }

    .contact-social li a{
        width: 80px;
        height: 80px;
        font-size: 38px;
        line-height: 82px;
    }

    .contact-detalhes h1{
        font-size: 30px;
        margin: unset;
    }

    .contact-detalhes h1 .job{
        font-size: 26px;
    }

    .contact-text h1{
        font-size: 4rem;
    }

    .contact-text h1::after{
        width: 14rem;
    }
}

/*celulares*/

@media screen and (max-width: 680px){

    .contact-text h1{
        font-size: 2.6rem;
    }

    .contact-text h1::after{
        width: 10rem;
    }

    .perfil{
        width: 278px;
        height: 346px;
    }

    .contact-social li a{
        width: 65px;
        height: 65px;
        font-size: 30px;
        line-height: 65px;
    }

    .contact-detalhes h1 .job {
        font-size: 24px;
    }

    .contact-social{
        top: 40%;
        transform: translate(-50%, -40%);
    }
}
